@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --color-homie-green: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-homie-green: var(--color-homie-green);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
}